    /* .container {
        max-width: 100%;
        padding: 15px;
        margin: auto;
        } */
    
    .form_heading {
        margin-bottom: 20px;
        letter-spacing: 0px;
        color: #0091D5;
        text-align: left;
        font-family: sans-serif;
        font-size: 24px;
        font-weight: 700;
    }

    label{
        letter-spacing: 0px;
        color: #757575;
        font-size: 16px;
        text-align: left;
        font-weight: 500;
        line-height: 25px;
        font-family: sans-serif;
        width: 100%;
        margin: auto;
}
    
    .image {
        max-width: 100%;
        height: auto;
    }
    

    @media (min-width: 992px) {
        .row {
            display: flex;
            justify-content: space-around;
        }
    
        .col-6 {
            flex: 0 0 45%;
            max-width: 45%;
            margin: 20px 0;
        }
    }
    

    @media (min-width: 768px) and (max-width: 991px) {
        .col-6 {
            display: inline-block;
            width: 100%;
            max-width: 100%;
            margin: 20px 0;
        }

        .image{
            display: none;
        }
    }
    
    
    @media (max-width: 767px) {
        .col-6 {
            display: block;
            width: 100%;
            margin: 20px 0;
        }
    }
    