.no-border {
    border: none;
  }
  
  .no-border .list-group-item {
    border: none;
    padding: 0.5rem 0;
  }

  .listheading{
    color: #000;
  }

  .copyright-text {
    color: black;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    margin: 0;
}